:root {
  font-size: 62.5%;
}
/* Element style */
body {
  font-size: 1.4rem;
  font-family: Poppins;
  color: var(--color-text-body);
}

a {
  color: var(--color-primary-active);
}

/* Typography classes */
.heading-1 {
  color: var(--color-heading-1);
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.48px;
}
.heading-2 {
  color: var(--color-heading-2);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.36px;
}
.body-text-large {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.32px;
}
.body-text-regular {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.28px;
}
.body-text-small {
  font-size: 1.2rem;
  font-weight: 400;
}
/* Border radius class */
.border-radius-main {
  border-radius: var(--base-border-radius);
}
.border-radius-small {
  border-radius: calc(var(--base-border-radius) / 2);
}
.border-radius-large {
  border-radius: calc(var(--base-border-radius) * 3);
}
