:root {
  font-size: 62.5%;
}
/* Element style */
body {
  font-size: 1.4rem;
  font-family: Poppins;
  color: var(--color-text-body);
  background-color: var(--color-background);
}

a {
  color: var(--color-primary-active);
}
a:hover {
  filter: brightness(1.2);
}
a:focus {
  outline-color: var(--color-primary-active);
}
p {
  /* Allow break */
  word-break: break-word;
}
/* Typography classes */
.heading-1 {
  color: var(--color-heading-1);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
}
.heading-2 {
  color: var(--color-heading-2);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}
.body-text-large {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.body-text-regular {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}
.body-text-small {
  font-size: 1.2rem;
  font-weight: 400;
}
.text-semi-bold {
  font-weight: 500;
}
.text-bold {
  font-weight: 600;
}
/* Border radius class */
.border-radius-main {
  border-radius: var(--base-border-radius);
}
.border-radius-small {
  border-radius: calc(var(--base-border-radius) / 2);
}
.border-radius-large {
  border-radius: calc(var(--base-border-radius) * 3);
}
/* Listing */
ul.inline-list,
ul.no-list-style {
  list-style-type: none;
  padding: 0;
}
ul.inline-list {
  display: flex;
  gap: calc(var(--base-spacing) * 0.5);
}
/* Margin */
.m-auto {
  margin: auto;
}
.f-w-container {
  width: 100%;
  margin: auto;
  max-width: var(--max-width);
}
/* flex */
.d-flex {
  display: flex;
  gap: var(--base-spacing);
}
.d-flex .f-h-center {
  justify-content: center;
}
.d-flex .f-column {
  flex-direction: column;
}
.d-flex .f-wrap {
  flex-wrap: wrap;
}
/* flex 12-col grid system */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  --columns: 12;
  --base-gap: var(--base-spacing);
  --base-basis: calc((100% - (var(--base-gap) * (var(--columns) - 1))) / var(--columns));
}
[class*='col-'] {
  --width: 1;
  --col-basis: calc((var(--width) * var(--base-basis)) + ((var(--width) - 1) * var(--base-gap)));
  flex-basis: var(--col-basis);
  position: relative;
}
.col-1 {
  --width: 1;
}
.col-2 {
  --width: 2;
}
.col-3 {
  --width: 3;
}
.col-4 {
  --width: 4;
}
.col-5 {
  --width: 5;
}
.col-6 {
  --width: 6;
}
.col-7 {
  --width: 7;
}
.col-8 {
  --width: 8;
}
.col-9 {
  --width: 9;
}
.col-10 {
  --width: 10;
}
.col-11 {
  --width: 11;
}
.col-12 {
  --width: 12;
}
/* Cursor */
.cursor-pointer {
  cursor: pointer;
}
